pip_version>=24.3.1

streamlit
pandas
bertopic 
nltk
string
re
pprint
gensim
gensim.corpora
gensim.utils
spacy
spacy
warnings
gensim.models.coherencemodel
numpy
hdbscan
bertopic.vectorizers
sentence_transformers
sklearn.feature_extraction.text
umap
transformers
